/* 
placeholder color values, change as you guy see fit, easiest to modify from root



*/
    :root{
        --bg:grey;
        --panel:hsla(0,10%,89%,11%);
        --text:black;   
        --border:black;
        --radius:16px;
        --accent:rgb(92,1,1);

    }


        /* Prevents borders from breaking layout widths */
        *{box-sizing: border-box;}


    body{
        margin: 0; 
        font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
        background: var(--bg);
        color: var(--text);

    }


/* 
Decided to go with a grid based design instead of flexbox, change it here if you prefer.

Main Grid Below:
*/

    .container{
        max-width: 1200px;
        margin: auto;
        padding: 16px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
        
    }

    .panel{
        background: var(--panel);
        border: 1px solid var(--border);
        border-radius: var(--radius);
        padding: 16px;
    
    }
    
/* Mobile first development */
    /* Have to investigate this more */
    .container *{ grid-column: 1 / -1; } 
    
    
/* 
names correspond to our proposed image homepage 1
*/

    @media (min-width: 768px){
        .head{ grid-column: 1/-1; }
        .search{ grid-column: 1/-1; }
        .hero{grid-column: 1/-1}
        .chart{ grid-column: 1/7; }
        .list{ grid-column: 7/-1; }
        .donut{grid-column: 1/7;}
        .info{grid-column: 7/-1;}
        .footer{grid-column: 1/-1;}
    }


    /* 
    change this if you want image formatting to be different, currently set to be responsive and fit within the panel with rounded corners
    */
    img{
        width: 100%;
        height: auto;
        border-radius: var(--radius);
        display:block;
    }