.footerSectionLayout {
  display: flex;
  flex-direction: column;
}

.footerCategory {
  margin-bottom: 0px;
}

.footerList {
  padding: 0px;
}

.footerList li {
  list-style: none;
}

@media screen and (max-width: 728px) {
  .footerSectionLayout {
    text-align: center;
  }
}
