.homeLayout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.map-container {
  grid-column: 1 / span 8;
  grid-row: 1 / span 2;
  margin: 20px;
}

.graph-container {
  grid-column: 9 / span 4;
  grid-row: 2 / span 1;
  margin: 20px;
}

.chart-container {
  grid-column: 9 / span 4;
  grid-row: 1 / span 1;
  margin: 20px;
}

/* .footer-container {
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
} */

@media screen and (max-width: 1500px) {
  .homeLayout {
    grid-template-rows: 2fr 1fr;
  }
  .map-container {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  .graph-container {
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;
  }
  .chart-container {
    grid-column: 7 / span 6;
    grid-row: 2 / span 1;
  }
}

@media screen and (max-width: 950px) {
  .homeLayout {
    grid-template-rows: 2fr 0.5fr 0.5fr;
  }

  .map-container {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  .graph-container {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
  }
  .chart-container {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
  }
}
