.homeLayout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.map-container {
  grid-column: 2 / span 9;
  grid-row: 1 / span 2;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

/* .map {
  grid-column: col-start 1 / span 8;
  background-color: white;
  height: 400px;
}

.graph {
  grid-column: col-start 9 / span 4;
  background-color: rgb(184, 45, 45);
  height: 100px;
} */
